body {
  background-color: #AFD4C0;
}

.header {
  display: flex;
  width: 100vw;
  height: 70px;
  background-color: #519872;
}

.headerTitle {
  color: white;
  margin-left: 240px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 55vw;
  margin: auto;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  border-bottom: black 1px solid;
}

.homeListings {
  width: 80%;
  margin: auto;
}

.houseList {
  width: 90%;
  margin: auto;
}

.houseBox {
  background-color: #DEDEDE;
  margin-bottom: 20px;
  padding: 10px;
}

.wizard {
  display: flex;
  flex-direction: column;
  width: 55vw;
  margin: auto;
}

.wizardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
}

.wizardForm {
  margin: auto;
}